<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>PGA Golf App</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body style="width: 100vw">
    <header class="d-flex justify-content-center">
      <img
        class="masters-logo mt-2 mb-2"
        src="2023 U.S. OPEN_LACC_FULL COLOR LOGO.jpg"
        alt="masters_logo"
      />
    </header>
    <main class="d-flex justify-content-center">
      <section>
        <div class="table-container pt-4 d-flex flex-column">
          <div id="ciaran">
            <table class="table ciaran-table mb-5">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Round 1</th>
                  <th scope="col">Round 2</th>
                  <th scope="col">Round 3</th>
                  <th scope="col">Round 4</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><b>Ciaran</b></td>
                </tr>
                <% for(let i = 0; i < mastersData.length; i++) { %> <%
                if(mastersData[i].name == "Xander Schauffele" || mastersData[i].name
                == "Rickie Fowler" || mastersData[i].name == "Jordan Spieth"
                || mastersData[i].name == "Collin Morikawa") {
                %>
                <tr>
                  <td><%= mastersData[i].name %></td>
                  <td><%= mastersData[i].round1 %></td>
                  <td><%= mastersData[i].round2 %></td>
                  <td><%= mastersData[i].round3 %></td>
                  <td><%= mastersData[i].round4 %></td>
                  <td><%= mastersData[i].score %></td>
                </tr>
                <% } %> <% } %>
                <tr class="last-row">
                  <td><b>Top 3 scores</b></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="totalScoreCiaran"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id="joel">
            <table class="table joel-table mb-5">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Round 1</th>
                  <th scope="col">Round 2</th>
                  <th scope="col">Round 3</th>
                  <th scope="col">Round 4</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><b>Joel</b></td>
                </tr>
                <% for(let i = 0; i < mastersData.length; i++) { %> <%
                if(mastersData[i].name == "Jon Rahm" || mastersData[i].name
                == "Cameron Smith" || mastersData[i].name == "Tyrrell Hatton"
                || mastersData[i].name == "Bryson DeChambeau") {
                %>
                <tr>
                  <td><%= mastersData[i].name %></td>
                  <td><%= mastersData[i].round1 %></td>
                  <td><%= mastersData[i].round2 %></td>
                  <td><%= mastersData[i].round3 %></td>
                  <td><%= mastersData[i].round4 %></td>
                  <td><%= mastersData[i].score %></td>
                </tr>
                <% } %> <% } %>
                <tr class="last-row">
                  <td><b>Top 3 scores</b></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="totalScoreJoel"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id="dinesh">
            <table class="table dinesh-table mb-5">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Round 1</th>
                  <th scope="col">Round 2</th>
                  <th scope="col">Round 3</th>
                  <th scope="col">Round 4</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><b>Dinesh</b></td>
                </tr>
                <% for(let i = 0; i < mastersData.length; i++) { %> <%
                if(mastersData[i].name == "Rory McIlroy" ||
                mastersData[i].name == "Viktor Hovland" || mastersData[i].name ==
                "Max Homa"|| mastersData[i].name == "Dustin Johnson") { %>
                <tr>
                  <td><%= mastersData[i].name %></td>
                  <td><%= mastersData[i].round1 %></td>
                  <td><%= mastersData[i].round2 %></td>
                  <td><%= mastersData[i].round3 %></td>
                  <td><%= mastersData[i].round4 %></td>
                  <td><%= mastersData[i].score %></td>
                </tr>
                <% } %> <% } %>
                <tr class="last-row">
                  <td><b>Top 3 scores</b></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="totalScoreDinesh"></td>
                </tr>
              </tbody>
            </table>
          </div>

          <div id="kurt">
            <table class="table kurt-table mb-5 border-top-0">
              <thead>
                <tr class="last-row border-top-0">
                  <th scope="col"></th>
                  <th scope="col">Round 1</th>
                  <th scope="col">Round 2</th>
                  <th scope="col">Round 3</th>
                  <th scope="col">Round 4</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><b>Kurt</b></td>
                </tr>
                <% for(let i = 0; i < mastersData.length; i++) { %> <%
                if(mastersData[i].name == "Min Woo Lee" || mastersData[i].name == "Brooks Koepka" ||
                 mastersData[i].name == "Scottie Scheffler" || mastersData[i].name == "Matt Fitzpatrick") { %>
                <tr>
                  <td><%= mastersData[i].name %></td>
                  <td><%= mastersData[i].round1 %></td>
                  <td><%= mastersData[i].round2 %></td>
                  <td><%= mastersData[i].round3 %></td>
                  <td><%= mastersData[i].round4 %></td>
                  <td><%= mastersData[i].score %></td>
                </tr>
                <% } %> <% } %>
                <tr class="last-row">
                  <td><b>Top 3 scores</b></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="totalScoreKurt"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
    <script src="/index.js"></script>
  </body>
</html>
